
body{
	background-color:#4C4C4C;
	font-size: 20px;
	color: #EC9F2E;
	text-align: center;
}
h2 {
    letter-spacing: 3px;
    word-spacing: 10px;
}
#question{
	color: white;
	padding-top: 25px;
	font-size: 24px;
}
.answers{
	color: white;
}
.modal-body{
	background-color:black;
	line-height: 30px;
}
.answers:hover {
    color: #EC9F2E;
}
.progress{
	background-color: black;
}
.stats{
	background-color:black;
	font-size: 20px;
	color: white;
	padding: 15px, 5px, 15px, 5px;
}
.well{
	background-color:black;
	border: none;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.modal-title{
	background-color:#4C4C4C;
}
.btn-success{
	border-color: white;
}
/*.good-guess{
	color: green;
}
.bad-guess{
	color: red;
}
*/
/*#timer{
	color: #D19B71;
}
#timeout{
	color: #D19B71;
}
#correct{
	color: #D19B71;
}
#incorrect{
	color: #D19B71;
}
.unused{
	color: #D1CF79;
	color: #A1D16A;

}*/









