
body{
	background-color:#4C4C4C;
	font-size: 20px;
	color: #EC9F2E;
	text-align: center;
}
h2 {
    letter-spacing: 3px;
    word-spacing: 10px;
}
#question{
	color: white;
}
.modal-body{
	background-color:black;
}
.answers:hover {
		 
    color: white;

}
.stats{
	background-color:black;
	font-size: 20px;
	color: white;
	padding: 15px, 5px, 15px, 5px;
}
.well{
	background-color:black;
	border: none;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.modal-title{
	background-color:#4C4C4C;
}
.btn-success{
	border-color: white;
}












